*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#fff;
}

/* Navbar */

header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:100;
}

.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 70px;

    background:#ffffff;
}

.logo img{

    width:140px;
}

.nav-links{

    display:flex;
    list-style:none;
    gap:40px;
}

.nav-links a{

    text-decoration:none;
    color:#111;
    font-weight:600;
}

/* Hero */

.hero{

    height:100vh;

    background:url("banner.jpg")center/cover no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;
}

.overlay{

    position:absolute;

    width:100%;
    height:100%;

    background:rgba(0,0,0,.45);
}

.content{

    position:relative;

    color:#fff;

    text-align:center;
}

.content h1{

    font-size:80px;
}

.content p{

    font-size:22px;

    margin:20px 0;
}

.btn{

    display:inline-block;

    padding:15px 35px;

    background:#e61b23;

    color:#fff;

    text-decoration:none;

    border-radius:40px;

    transition:.4s;
}

.btn:hover{

    background:#b50008;
}
/* Featured Section */

.featured{
    padding:100px 8%;
    background:#f8f8f8;
}

.featured h2{
    text-align:center;
    font-size:42px;
    margin-bottom:50px;
}

.card-container{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    width:300px;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    transition:.4s;
}

.card:hover{
    transform:translateY(-12px);
}

.card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.card-content{
    padding:25px;
}

.card-content h3{
    margin-bottom:15px;
}

.card-content p{
    color:#555;
    line-height:1.6;
    margin-bottom:20px;
}

.card-content a{
    background:#e61b23;
    color:white;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
}
/* ABOUT SECTION */

.about{
    padding:100px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    flex-wrap:wrap;
}

.about-image{
    flex:1;
}

.about-image img{
    width:100%;
    border-radius:25px;
    box-shadow:0 15px 40px rgba(0,0,0,.2);
}

.about-text{
    flex:1;
}

.about-text h2{
    font-size:48px;
    margin-bottom:20px;
}

.about-text p{
    color:#666;
    line-height:1.8;
    margin-bottom:30px;
}

.about-btn{
    display:inline-block;
    padding:15px 35px;
    background:#E61B23;
    color:white;
    text-decoration:none;
    border-radius:35px;
    transition:.3s;
}

.about-btn:hover{
    background:#b31218;
}
footer{
    background:#111;
    color:white;
    text-align:center;
    padding:40px 20px;
}

footer h3{
    font-size:30px;
    margin-bottom:10px;
}
.video-section{
    width:90%;
    margin:80px auto;
    text-align:center;
}

.video-section h2{
    font-size:45px;
    margin-bottom:40px;
}

.video-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.video-card{
    width:500px;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.video-card video{
    width:100%;
    display:block;
    border-radius:20px;
}

footer p{
    color:#bbb;
}
@media(max-width:768px){

.navbar{
    flex-direction:column;
    padding:20px;
}

.nav-links{
    flex-direction:column;
    gap:15px;
    margin-top:20px;
}

.content h1{
    font-size:45px;
}

.content p{
    font-size:18px;
}

.about{
    flex-direction:column;
}

.about-text h2{
    font-size:35px;
}

.featured h2{
    font-size:35px;
}

.card{
    width:100%;
}
}
.product-info{
    width:85%;
    margin:60px auto;
    padding:20px;
}

.product-info p{
    font-size:18px;
    line-height:1.8;
    color:#333;
    margin-bottom:20px;
    text-transform:uppercase;
}
.page{
    padding:140px 10%;
    text-align:center;
}

.page h1{
    font-size:55px;
    margin-bottom:20px;
}

.page p{
    font-size:22px;
    line-height:1.8;
}
.dropdown{
    position:relative;
    list-style:none;
}

.dropdown-menu{
    display:none;
    position:absolute;
    top:40px;
    left:0;
    background:#fff;
    width:220px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,.2);
    padding:15px 0;
}

.dropdown-menu li{
    list-style:none;
}

.dropdown-menu li a{
    display:block;
    padding:12px 25px;
    color:#111;
    text-decoration:none;
}

.dropdown-menu li a:hover{
    background:#f3f3f3;
}

.dropdown:hover .dropdown-menu{
    display:block;
}
.brands{
    padding:120px 8%;
    text-align:center;
}

.brands h1{
    font-size:50px;
    margin-bottom:15px;
}

.brands p{
    font-size:20px;
    color:#555;
    border-color: #b50008;
    margin-bottom:40px;
}

.brand-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}

.brand-card{
    width:220px;
    background:#f8f8f8;
    border-radius:20px;
    padding:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.brand-card:hover{
    transform:translateY(-10px);
}

.brand-card img{
    width:150px;
    height:150px;
    object-fit:contain;
}

.brand-card h3{
    margin-top:15px;
}
.discover{
    padding:120px 8%;
    text-align:center;
}

.discover h1{
    font-size:50px;
    margin-bottom:20px;
}

.discover p{
    font-size:20px;
    color:#555;
    margin-bottom:40px;
}

.discover-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.discover-card{
    width:320px;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
    transition:.3s;
}

.discover-card:hover{
    transform:translateY(-10px);
}

.discover-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.discover-card h3{
    margin:20px 0 10px;
}

.discover-card p{
    padding:0 20px 20px;
    font-size:16px;
}
.shop{
    padding:50px 8%;
    text-align:center;
}

.shop h1{
    font-size:60px;
    margin-bottom:10px;
}

.shop p{
    font-size:20px;
    color:#555;
    margin-bottom:40px;
}

.shop-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.shop-card{
    width:250px;
    background:#fff;
    border-radius:20px;
    padding:25px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
    transition:.3s;
}

.shop-card:hover{
    transform:translateY(-10px);
}

.shop-card img{
    width:120px;
    height:120px;
    object-fit:contain;
}

.shop-card h3{
    margin:20px 0;
}

.shop-card a{
    display:inline-block;
    padding:12px 25px;
    background:#E61B23;
    color:#fff;
    text-decoration:none;
    border-radius:30px;
}

.shop-card a:hover{
    background:#b31218;
}
/* Impact Hero */

.impact-hero{

height:80vh;

background:red;

display:flex;

justify-content:center;

align-items:center;

position:relative;

}

.impact-overlay{

position:absolute;

width:100%;

height:100%;

background:rgba(0,0,0,.45);

}

.impact-content{

position:relative;

text-align:center;

color:#fff;

}

.impact-content h1{

font-size:60px;

}

.impact-content p{

font-size:22px;

}

/* About */

.impact-about{

display:flex;

justify-content:space-between;

align-items:center;

padding:80px 10%;

gap:40px;

flex-wrap:wrap;

}

.impact-text{

flex:1;

}

.impact-text h2{

font-size:40px;

margin-bottom:20px;

}

.impact-text p{

font-size:18px;

line-height:1.8;

}

.impact-image{

flex:1;

}

.impact-image img{

width:100%;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,.2);

}

/* Cards */

.impact-cards{

padding:80px 10%;

text-align:center;

}

.card-container{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}

.card{

width:320px;

background:#fff;

border-radius:20px;

overflow:hidden;

box-shadow:0 5px 20px rgba(0,0,0,.15);

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}

.card img{

width:100%;

height:220px;

object-fit:cover;

}

.card h3{

margin:20px 0 10px;

}

.card p{

padding:0 20px 20px;

}

/* card */

.card{

background:#E61B23;

color:#fff;

padding:60px;

text-align:center;

margin-top:50px;

}

.card h2{

font-size:38px;

}

/* Footer */

footer{

background:#111;

color:#fff;

padding:30px;

text-align:center;

}
/* Images */
img{
    border:3px solid #fff;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.25);
    transition:.4s;
}

img:hover{
    transform:scale(1.05);
    border:3px solid #e61b23;
    box-shadow:0 0 15px #e61b23,
               0 0 30px rgba(230,27,35,.5);
}
/* Videos */
video{
    border-radius:15px;
    border:3px solid white;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
    transition:0.3s;
}

video:hover{
    transform:scale(1.03);
}

/* Buttons */
button{
    border-radius:30px;
    transition:0.3s;
}

button:hover{
    background:red;
    color:white;
    transform:scale(1.05);
}

/* All Sections */
section{
    border-top:2px solid #ddd;
    padding:50px 0;
}

/* Headings */
h1,h2{
    text-shadow:2px 2px 8px rgba(0,0,0,0.3);
}
